@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "User Panel";
}
@using (Html.BeginForm())
{
}
    <style>

        body {
            background: url(http://bootstraptema.ru/images/bg/bg-1.png)
        }

        #main {
            background-color: #f2f2f2;
            padding: 20px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            border-bottom: 4px solid #ddd;
        }

        #real-estates-detail #author img {
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            border-radius: 100%;
            border: 5px solid #ecf0f1;
            margin-bottom: 10px;
        }

        #real-estates-detail .sosmed-author i.fa {
            width: 30px;
            height: 30px;
            border: 2px solid #bdc3c7;
            color: #bdc3c7;
            padding-top: 6px;
            margin-top: 10px;
        }

        .panel-default .panel-heading {
            background-color: #fff;
        }

        #real-estates-detail .slides li img {
            height: 450px;
        }
    </style>


    <div class="container">
        <div id="main">
            <div class="row" id="real-estates-detail">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <header class="panel-title">
                                <div class="text-center">
                                    <strong>Пользователь сайта</strong>
                                </div>
                            </header>
                        </div>
                        <div class="panel-body">
                            <div class="text-center" id="author">
                                <img src="~/Content/Image/ikona.png" width="200" height="200">
                                <h3>@User.Identity.GetUserName()        </h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="panel">
                        <div class="panel-body">
                            <ul id="myTab" class="nav nav-pills">
                                <li class="active"><a href="#detail" data-toggle="tab">Ваш автомобиль</a></li>
                                <li class=""><a href="#contact" data-toggle="tab">Список очереди</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <hr>
                                <div class="tab-pane fade active in" id="detail">
                                    <h4>История профиля</h4>
                                    <table class="table table-th-block">
                                        <tbody>
                                            <ul>
                                                @if (ViewBag.IsUserHasCar)
                                                {
                                                    <li>Brand:@ViewBag.Car.Brand</li>
                                                    <li>Model:@ViewBag.Car.Model</li>
                                                    <li>Year:@ViewBag.Car.Year</li>
                                                    <li>Engine Type:@ViewBag.Car.EngineType</li>

                                                }
                                                else
                                                {
                                                    <li>Brand:</li>
                                                    <li>Model:</li>
                                                    <li>Year</li>
                                                    <li>Engine Type:</li>
                                                }
                                            </ul>
                                        </tbody>
                                    </table>
                                    <div class="panel-heading" style="font-size:50px;">
                                        <button type="button" onclick="location.href='@Url.Action("AddCar2", "Home")';return false;" class="btn btn-primary" id="addCarBTN" style="float:left;margin-top:5px;">Add car</button>
                                        <button type="button" onclick="location.href='@Url.Action("AddQueue", "Home")';return false;" class="btn btn-primary" size="" ; style="float:right;margin-top:5px;margin-right:5px;">Queue</button>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact">
                                    <p></p>
                                    <form role="form">
                                        <table class="table">
                                            <td>Описание</td>
                                            <td>Дата</td></tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Description</td>
                                                    <td>@item.DateTime</td>
                                                    <td>@item.CarStatus</td>
                                                    <td>
                                                        <div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </ul>
  @if (ViewBag.Message == "AlreadyHasCar") {<div class="alert alert-danger">
        <strong>Car doesn't added!</strong>
        You already added car.
    </div>
}



@if (!ViewBag.IsUserHasCar)
{
    <script type="text/javascript">
        document.getElementById('addCarBTN').disabled = false;
        //document.getElementById('editCarBTN').disabled = true;
        document.getElementById('addFuelBTN').disabled = true;
        document.getElementById('addOilBTN').disabled = true;
        document.getElementById('emulateIOTBTN').disabled = true;
    </script>
}
else
{
    <script type="text/javascript">
        document.getElementById('addCarBTN').disabled = true;
        //document.getElementById('editCarBTN').disabled = false;
        document.getElementById('addFuelBTN').disabled = false;
        document.getElementById('addOilBTN').disabled = false;
        document.getElementById('emulateIOTBTN').disabled = false;
    </script>
}
